.pagina-contato {
    background-color: var(--cor-fundo-secundaria);
    padding: 30px;
    border-radius: 8px;
    box-shadow: var(--sombra);
    max-width: 600px; /*limita a largura do formulário */
    margin: 0 auto;
}

.pagina-contato .form-grupo textarea {
    height: 120px;
    resize: vertical;
}