.pagina-registro {
    background-color: var(--cor-fundo-secundaria);
    padding: 30px;
    border-radius: 8px;
    box-shadow: var(--sombra);
    max-width: 600px; /*limita a largura do formulário */
    margin: 0 auto;
}

.pagina-registro .link-alternativo a {
    color: var(--cor-primaria);
}
