/* Estilos específicos para a página Contato */

.pagina-registro {
    /* Torna o formulário um bloco sólido com sombra para destaque */
    background-color: var(--cor-fundo-secundaria);
    padding: 30px;
    border-radius: 8px;
    box-shadow: var(--sombra);
    max-width: 600px; /* Limita a largura do formulário */
    margin: 0 auto; /* Centraliza o formulário */
}